.uploadSkillsWrapper {
  background-color: white;
  border: 1px solid white;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.uploadHeading {
  /* border: 1px solid red; */
  text-align: center;
}
.formatWarning p {
  color: red;
}
.uploadResumeInputButton {
  /* border: 1px solid red; */
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 1%;
}
.uploadResumeInputButton button {
  border-radius: 10px;
  height: 40px;
  width: 40px;
  border: none;
  flex: 0.15;
  background-color: #0047ab;
  font-size: 1.5em;
}
.uploadResumeInputButton input {
  outline: none;
  border: none;
  background-color: white;
  border-bottom: 1px solid #0047ab;
  color: #000000;
  flex: 2;
  font-size: 1.2em;
}
.skillsWrapper {
  /* border: 1px solid red; */
}
.skillsUploadButton {
  /* border: 1px solid green; */
  text-align: center;
}
.skillsUploadButton button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #0047ab;
  border-radius: 5px;
  border: none;
}
